.App {
  text-align: center;
}

body {
  color: white;
  background-image: url('./images/background.png');
  font-family: 'Epilogue', sans-serif;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

header {
  max-width: 960px;
  margin: 160px auto;
  text-align: center;
}

header h1 {
  font-size: 3.5em;
  font-weight: 200;
  text-transform: uppercase;
}

/*Sistema Solar*/

.title {
  text-align: center;
  margin: 80px 0; 
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2.5em;
}

.solar-system {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.line {
  height: 2px;
  width: 100%;
  background-color: #7d7d7d;
  position: absolute;
  top: 640px;
  z-index: 0;
}

.planet {
  padding: 0 20px;
}

.planet h3 {
  font-size: 1em;
  font-weight: 300;
  align-self: flex-end;
  font-weight: 400;
}

/*Missoes*/

.missions-container {
  background-color: #FFFFFF10;
  border-radius: 20px;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.missions {
  flex: 1 1 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  background-color: #181A2580;
  border: 1.5px solid white;
  border-radius: 10px;
  height: 180px;
}

.missions:hover {
  background-color: #00000054;
}

.missions h2 {
  padding: 30px;
  border-bottom: 2px solid white;
}

.mission-info {
  display: flex;
  justify-content: space-between;
  padding: 40px
}

.info-1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.info-2 {
  flex: 2;
  text-align: center;
}









